<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My First Vue Page</title>
    <style>
        form {
          border: dashed black 1px;
          width: 200px;
          padding: 20px;
        }
      </style>
   
</head>

<body>
    <h1>Example: shopping list</h1>
    <div id="app">
        
        <form v-on:submit.prevent="addItem">
            <p>What do you need?
            <input type="text" required placeholder="item name..." v-model="itemName">
            </p>

            <p>
                How many?
                <input type="number" required placeholder="Number of items..." v-model="itemNumber">
            </p>

            <button type="submit">Add item</button>
        </form>

        <div>
           <p> shopping list</p>
            <ul>
                <li v-for="item in items">{{ item.name }} - {{item.number}}</li>
            </ul>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const app = Vue.createApp({
            data(){
                return {
                    itemName: null,
                    itemNumber: null,
                    items: [
                        {name: "Milk", number: 2},
                    ]
                }
            },
            methods: {
                addItem(){
                    let newItem ={
                        name: this.itemName,
                        number: this.itemNumber
                    }
                    this.items.push(newItem)
                    this.itemName = null
                    this.itemNumber = null
                }
            }
        })
        app.mount('#app')
    </script>
    
</body>

</html>